<nav class="navbar navbar-dark bg-dark">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav text-center">
			<table class="mt-3" border="1" style="color: white; width: 100%">
				<tbody>
				<tr>
					<?php for($i=0;$i<16;$i++){

						echo '<td>
					<a href="#"><p style="color: transparent">ITEMSLOT</p></a>
						</td>';

					} ?>
				</tr>
				</tbody>
			</table>
		</ul>
		<div class="row">

			<div class="mt-3 col-3 ml-3" style="border: 1px solid whitesmoke; height: 150px; color: white">
				<div class="row">
					<ul class="pl-4 mt-2 col-6 text-left" style="list-style-type: none;">
						<li>
							<span class="fa fa-heart"> <?= $_SESSION["character"]->getLife(); ?> </span>
							<span class="ml-3 fa fa-bomb"> <?= $_SESSION["character"]->getDegat(); ?></span>
							<span class="ml-3 fa fa-shield"> <?= $_SESSION["character"]->getArmor(); ?> </span>
						</li>
					</ul>
					<ul class="pr-4 mt-2 col-6 text-right" style="list-style-type: none;">
						<li>
							<span> str : <?= $_SESSION["character"]->getStr(); ?> </span>
						</li>
						<li>
							<span> agi : <?= $_SESSION["character"]->getAgi(); ?> </span>
						</li>
						<li>
							<span> dex : <?= $_SESSION["character"]->getDex(); ?></span>
						</li>
						<li>
							<span> luck : <?= $_SESSION["character"]->getLuck(); ?></span>
						</li>
					</ul>
				</div>
			</div>

			<div class="col"></div>

		</div>

	</div>
</nav>


<div class="container-fluid">

	<div class="row justify-content-center">

		<canvas id="renderSurface" style="height: 88vh; min-width: 100%"></canvas>

	</div>

</div>

<script type="text/javascript">

    var characterId = '<?php echo $_SESSION["character"]->id(); ?>';
    var characterName = '<?php echo $_SESSION["character"]->name(); ?>';
    var characterClass = '<?php echo $_SESSION["character"]->type(); ?>';
    var characterLife = '<?php echo $_SESSION["character"]->getLife(); ?>';
    var characterArmor = '<?php echo $_SESSION["character"]->getArmor(); ?>';
    var characterStr = '<?php echo $_SESSION["character"]->getStr(); ?>';
    var characterDex = '<?php echo $_SESSION["character"]->getDex(); ?>';
    var characterAgi = '<?php echo $_SESSION["character"]->getAgi(); ?>';
    var characterLuck = '<?php echo $_SESSION["character"]->getLuck(); ?>';

    var enemysLength = '<?php echo count($characters) ?>';

</script>


